.canAccept {
  outline: rgba(181, 255, 61, 0.75) inset 4px;
  outline-offset: -4px;
}

.emptyConstructor {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  padding: 40px;
  text-align: center;
  border: 4px dashed var(--text-inactive-color);
  border-radius: 16px;
}

.emptyConstructor_maxHeight {
  height: 100%;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  max-height: 464px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  position: relative;
  display: flex;
  align-items: center;
}

.draggingItem {
  opacity: 0.1;
}

.itemIcon {
  width: 22px;
  height: 22px;
}

.order {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.orderTotal {
  display: flex;
}

.orderCurrencyIcon {
  display: flex;
  align-items: center;
}

.orderCurrencyIcon svg {
  width: 33px;
  height: 33px;
}
