.loaderContainer {
  display: flex;
  min-height: 400px;
  justify-content: center;
  align-items: center;
}

.list {
  box-sizing: border-box;
  margin: 0;
  padding: 0 8px 0 0;
  max-width: 760px;
  max-height: 800px;
  list-style: none;
}

.list_link {
  color: currentColor;
  text-decoration: none;
}
