.pageContainer {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.formContainer {
  margin-right: auto;
  margin-left: auto;
  width: 480px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.inputWrapper [class*='input__container'],
.inputWrapper [class*='input_size_default'] {
  width: 100%;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}

.link:hover {
  color: var(--colors-interface-success);
}

.link:active {
  opacity: 0.5;
}
