.pageContainer {
  composes: pageContainer from './page-layout.module.css';
}

.columnsContainer {
  display: flex;
  flex-wrap: wrap;
}

.navContainer {
  width: 320px;
}

.profileContent {
  flex-grow: 1;
}

.profileForm {
  max-width: 480px;
}

.profileForm_controls {
  display: flex;
  justify-content: flex-end;
}

