.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  align-self: flex-start;
  margin-bottom: 0;
}

.ingredientName {
  margin-top: 0;
}

.composition {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 0;
  padding: 0;
}

.compositionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112px;
}

.compositionItem dt {
  padding: 0;
}

.compositionItem dd {
  margin: 0;
  padding: 0;
}
